<DocsHero />

<div class="demo-wrapper">
  <DocsDemo as |demo|>
    <demo.example @name="docs-demo-basic.hbs">
      <TrixEditor @initialValue="some text" />
    </demo.example>

    {{demo.snippet "docs-demo-basic.hbs"}}
  </DocsDemo>
</div>

{{outlet}}
